nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: #1f1f20;
    border: 5px solid red;
    border-top: 0px;
    border-bottom: 0px;
    padding: 5px;
}

.link {
    text-decoration: none;
    color: white;
    
}