.movie-container {
    border: 5px solid red;
    border-top: none;
    border-bottom: none;
    color: red;
    background-color: #1f2327;
    padding: 100px;
}

table {
    border-collapse: collapse;
    padding: 30px;
    margin: auto;
    width: 300px;
}

th {
    color: white !important;
    font-size: 30px;
}

td {
    font-size: 20px;
}
